html {
    position: relative;
}

body {
    background-color: #fff;
}

#entire-page {
    height: 100%;
    background-image: url(https://static.grammarly.com/assets/files/513d15c7f12f8a27c1fea873458ebddb/bg.jpg);
}

#nav-container {
    position: relative;
}

.nav-icons {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.login-link {
    display: flex;
    color: #fff;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.display-container, h1 {
    font-size: 44px;
    font-family: sans-serif;
}

.display-container, p {
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

